<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    //alert(typeof($(this).attr("class")));string
    var a=$(this).attr("class")
  $("#"+a).toggle();
  });
});

</script>
<style>
  button {
  background-color:  #008CBA; 
  color: white; 
  border: 2px solid #008CBA;
  border-radius: 4px;
}

</style>
    <title>Contact Book</title>
  </head>
  <body>
    <div class="container">
      
      <h2 class="text-center">Contact Book</h2>

      <form action="{% url 'home' %}" method="post" >
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-primary">Show All Contacts</button>
        
      </form>
    <br><br>

    <form action="{% url 'addcontact' %}" method="post" >
      {% csrf_token %}
      
    <button type="submit" name="button" class="btn btn-primary">Add New Contact</button>
    
    </form>
    </div>
    <br><br>
    <div class="container">
          
    <form action="{% url 'searchfilter' %}" method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
      <label class="control-label col-sm-2">Name:</label>
      <div class="col-sm-10">
      <input type="text" name="search_name" placeholder="Enter name to search the contact" class="form-control">
      </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Email:</label>
        <div class="col-sm-10">
        <input type="text" name="search_email" placeholder="Enter email to search the contact" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </div>
    </form>
    <br>
    <div class="col-md-offset-2 col-sm-10">
      {% if contacts %}
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Operations</th>
      </tr>
      {% for contact in contacts %}
      <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.email}} 
          <button   class="{{contact.id}}" >Send Mail</button>
          <div class="{{contact.id}}" id="{{contact.id}}" style="display: none;">
          <form action="{% url 'mail' contact.id %}" method="post" style="padding:5px;">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" name="subject" class="form-control" >
          </div>
          <div class="form-group">
            <label for="email">Message</label>
            <input type="text" class="form-control" name="message" >
          </div>

          <button type="submit" name="mail" class="btn btn-danger">Send</button>
        </form> 
      </div>
      </td>
        <td>{{contact.contact_number}}
          <button   class="{{contact.contact_number}}">Send SMS</button>
          <div class="{{contact.contact_number}}" id="{{contact.contact_number}}" style="display: none;">
          <form action="{% url 'send' contact.id %}" method="post" style="padding:5px;">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Message</label>
              <input type="text" name="msg" class="form-control" >
            </div>
            <button type="submit" name="send" class="btn btn-danger">Send</button>
          </form>
          </div>

        </td>
        <td><form action="{% url 'delete' contact.id %}" method="post" >
          {% csrf_token %}
          <button type="submit" name="delete" class="btn btn-danger">Delete</button>
        </form><br>
        <form action="{% url 'update' contact.id %}" method="post">
          {% csrf_token %}
          <button type="submit" name="update" class="btn btn-primary">Update</button>
        </form></td>
      </tr>
      {% endfor %}
    </table>
      {% if contacts.has_other_pages %}
    <ul class="pagination">
      {% if contacts.has_previous %}
        <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in contacts.paginator.page_range %}
        {% if contacts.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if contacts.has_next %}
        <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
{% endif %}
  {% elif error %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
  {% elif success %}
  <div class="alert alert-success">
    {{ success }}
  </div>
  {% elif delete %}
  <div class="alert alert-danger">
    {{ delete }}
  </div>

  
  {% elif mail %}
  <div class="alert alert-success">
    {{ mail }}
  </div>
  
  {% elif send %}
  <div class="alert alert-success">
    {{ send }}
  </div>

    {% elif filter_contacts %}
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Operations</th>
      </tr>
      {% for contact in filter_contacts %}
      <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.email}} 
          <button   class="{{contact.id}}" >Send Mail</button>
          <div class="{{contact.id}}" id="{{contact.id}}" style="display: none;">
          <form action="{% url 'mail' contact.id %}" method="post" style="padding:5px;">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" name="subject" class="form-control" >
          </div>
          <div class="form-group">
            <label for="email">Message</label>
            <input type="text" class="form-control" name="message" >
          </div>

          <button type="submit" name="mail" class="btn btn-danger">Send</button>
        </form> 
      </div>
      </td>
        <td>{{contact.contact_number}}
          <button   class="{{contact.contact_number}}">Send SMS</button>
          <div class="{{contact.contact_number}}" id="{{contact.contact_number}}" style="display: none;">
          <form action="{% url 'send' contact.id %}" method="post" style="padding:5px;">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Message</label>
              <input type="text" name="msg" class="form-control" >
            </div>
            <button type="submit" name="send" class="btn btn-danger">Send</button>
          </form>
          </div>

        </td>
        <td><form action="{% url 'delete' contact.id %}" method="post" style="padding:5px;">
          {% csrf_token %}
          <button type="submit" name="delete" class="btn btn-danger">Delete</button>
        </form>
        <form action="{% url 'update' contact.id %}" method="post">
          {% csrf_token %}
          <button type="submit" name="update" class="btn btn-primary">Update</button>
        </form>
      </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    </div>
    </div>
  </body>
</html>
